body{
    margin: 0;
}

.footer-main{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    justify-content: center;
    font: bold 16px sans-serif;
    padding: 40px 40px 50px 40px;
    background-color:  #8177F5;
    display: flex;
    flex-wrap: wrap;
}

.footer-logos-derecha{
    margin-left: 8px;
    text-decoration: none;
}
.footer-logos-izquierda{
    margin-right: 8px;
    margin-left: auto;
    text-decoration: none;
}

.footer-left{
    width: 50% !important;
    display: flex;
    
}

.footer-right{
    width: 50% !important;
    display: flex;
    
}

.footer-text{
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    color: #2C2C2C;
}