.div_90_o{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: ease-in-out 0.3s;
}
.ico_title_o{
    width: 100%;
    display: flex;
}
.ico_title60_o{
    width: 60%;
    display: flex;
    transition: ease-in-out 0.3s;
}
.img_ico_title_o{
    width: 18px;
    height: 18px;
    transition: ease-in-out 0.3s;
}
.a_agregar_o{
    background: #F2F1FF;
    border: 1px solid #8177F5;
    box-sizing: border-box;
    border-radius: 20px;
    width: 125px;
    height: 36px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: ease-in-out 0.3s;
    margin-top:-6px;
}
.a_agregar_o:focus{
    border:none;
}
.img_a_agregar_o{
    width: 12px;
    height: 12px;
    transition: ease-in-out 0.3s;
}
.txt_a_o{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #8177F5;
    transition: ease-in-out 0.3s;
}
.a_agregar_o:hover{
    text-decoration: underline;
    color: #8177F5;
}
.p_title_o{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #5A5A5A;
}
.hr_100_o{
    width: 100%;
    height: 0px;
    border: 0.5px solid #D0D0D0 !important;
}
.div_item_fav_o{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 331px;
    height: 265px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    transition: ease-in-out 0.3s;
}
.div_profile_image_o{
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    transition: ease-in-out 0.3s;
}
.img_circle_o{
    width: 100%;
    height: 100%;
    margin-top:3px;
    clip-path: circle(45% at 50% 50%);
    transition: ease-in-out 0.3s;
}
.heart_profile_o{
    color: #8177F5;
    width: 20px;
    height: 20px;
    margin-left:-25px;
    margin-top: 70px;
    position: absolute;
    transition: ease-in-out 0.3s;
}
.item_subtitle_o{
    font-family: 'Roboto', sans-serif;
    font-style: Normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    color: #5C5C5C;
    text-align: center;
    transition: ease-in-out 0.3s;
    height:30px;
}
.item_title_o,.campana_title_o{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    color: #5C5C5C;
    margin-top: 5px;
    transition: ease-in-out 0.3s;
}
.campana_title_o,.campana_text_o{
    width: 100%;
    margin-left: 20px;
}
.item_text_o,.campana_text_o{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #595959;
    margin-top: 3px;
    transition: ease-in-out 0.3s;
}
.stars_favoritos_o{
    color:#8177F5;
    font-size: 16px;
    margin-top: -2.5px;
    transition: ease-in-out 0.3s;
}
.display_flex_o{
    display: flex;
}
.a_campana_o{
    float: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8177F5;
    margin-right:22px ;
    margin-top:-5px;
    transition: ease-in-out 0.3s;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.a_menu_o{
    color: #5A5A5A;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.a_profile_o{
    font-family: Roboto;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8177F5;
    margin-left: auto;
    transition: ease-in-out 0.3s;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.a_profile_o:hover,.a_campana_o:hover,.a_derecha_o:hover,.a_menu_o:hover{
    text-decoration: none;
    transition: ease-in-out 0.3s;
    background-size: 100% 2px;
}
.div_width100_right{
    text-align: right;
    display: flex;
    width: 100%;
    align-content: center;
    text-justify: right;
}
.div_campanas_actuales_o{
    width: 100%;
    min-height: 300px;  
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    justify-content: space-between;
}
.div_campanas_actuales_2{
    width: 100%;
    min-height: 300px;  
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;  
}
.a_derecha_o{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #8177F5;
    display: flex;
    margin-left: auto;
    transition: ease-in-out 0.3s;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.div_item_campana_o{
    width: 310px;
    height: 235px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 30px;
    float: left;
    margin-right: 1%;
}
.img_item_campana_o{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 93px;
    border-radius: 5px;
    background-color:gray;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
}
.campanas_encabezado_cancion_o{
    width: 60%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.campanas_encabezado_artista_o{
    width: 60%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.img_sp_logo_o{
    display: flex;
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-top:-65px;
}
.div_campana_info_o{
    width: 100%;
    min-height: 369px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 39PX;
    padding-left: 26px;
    padding-right: 79px;
    padding-bottom:14px;
    color: #5C5C5C;
    margin-bottom:20px;
}
.div_tokens_o{
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #5C5C5C;
    display: flex;
    align-items: center;
    padding-left: 26px;
    margin-bottom: 30px;
}
.vercampana_title_o{
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 3px;
}
.vercampana_txt_o{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}
.vercampana_a_o{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #8177F5;
    margin-bottom: 15px;
    transition: ease-in-out 0.3s;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.vercampana_a_o:hover{
    color: black;
    transition: ease-in-out 0.2s;
}
.campana_info_0{
    width: 100%;
    height: 200px;
    display: none;
    background-color: gray;
    transition: ease-in-out 0.3s;
    border-radius: 5px;
    font-family: Roboto;
    color: #5C5C5C;
}
.div_100_o{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item_comprar_token{
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 265px;
    height: 277px;
    float: left;
    margin-bottom: 20px;
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 38px;
    padding-right: 38px;
}
.item_token_encabezado{
    width: 100%;
    height: 70px;
    border: 1px solid #8177F5;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #5C5C5C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.item_txt_black{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    margin-bottom:5px;
}
.item_txt_gray{
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #5A5A5A;
    margin-bottom:5px;
}
.btn_comprar_token{
    background: #8177F5;
    border-radius: 5px;
    border: none;
    width: 129px;
    height: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    transition: ease-in-out 0.2s;
}
.btn_comprar_token:hover{
    text-decoration: underline;
    color: white;
}
.campana_info_1{
    width: 30%;
}
.campana_info_2{
    width: 30%;
}
.campana_info_3{
    width: 40%;
}
.campana_info_3_img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 331px;
    height: 184.28px;
    border-radius: 5px;
    object-fit: cover;
}
.campana_info_3_status{
    display: flex;
    float: right;
    transition: ease-in-out 0.3s;
}
.vercampana_txt_status{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #5C5C5C;
    margin-top: 32px;
    margin-left: 25px;
}
.campana_estatus_o{
    width: 100%;
}
.campana_estatus_renovar_o{
    width: 104px;
    height: 36px;
    background: #8177F5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-right: 0px;
}
.normalizar_letra{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5C5C5C;
    margin-bottom: 0px;
}
.input_crearCampana{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(92, 92, 92, 0.47);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #5C5C5C;
    margin-bottom: 20px;
    margin-top: 0px;
    transition: ease-in-out 0.3s;
}
.select_crearCampana{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(92, 92, 92, 0.47);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #5C5C5C;
    margin-bottom: 20px;
    margin-top: 0px;
    transition: ease-in-out 0.3s;
    padding-left: 0px;
}
.crearCampana_pasos{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #5A5A5A;
}
.input_crearCampana:focus, .select_crearCampana:focus{
    border: none;
    outline: none;
    border-bottom:3px solid #8177F5;
    transition: ease-in-out 0.2s;
}
#crearCampana_50{
    width: 50%;
}
.crearCampana_botones{
    width: 100%;
    display: flex;
}
.a_cancelar_o{
    margin-left: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #8177F5;
    width: 104px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;
}
.a_cancelar_o:hover{
    text-decoration: none;
    color: black;
    transition: ease-in-out 0.3s;
}
.a_continuar_o{
    border: none;
    float:right;
    background: #8177F5;
    border-radius: 5px;
    width: 104px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 20px;
    transition: ease-in-out 0.3s;
}
.a_continuar_o:hover{
    text-decoration: none;
    color: black;
    transition: ease-in-out 0.3s;
    width: 109px;
}
.div_encabezado_sel_play{
    width: 85%;
    font-family: Roboto;
    background-color: orchid;
    margin-top:0px ;
}
.encabezado_paso_2{
    width: 100%;
    display: flex;
}
.txt_izquierda_o{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px;
    color: #5C5C5C;
}
.txt_derecha_o{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #5C5C5C;
    margin-left: auto;
}
.a_comprar_o{   
    color: #8177F5;
    text-decoration: underline;
}
.txt_italic_14{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5C5C5C;
}
.img_playlist_o{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: -20px;
    border-radius: 5px;
}
.a_row_play_o{
    text-decoration-line: underline;
    color: #8177F5;
    transition: ease-in-out 0.3s;
}
.botones_margin_subir{
    margin-top: -55px;
}
.encabezado_play_1{
    font-family: Roboto;
    font-style: bold;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5C5C5C;
}
.modalContainer {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modalContainer .modal-content {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 915px;
    height: 463px;
    font-family: Roboto;
}
.modalContainer .close:hover,
.modalContainer .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal_title_tokens{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #5C5C5C;
    text-align: center;
}
.hr_modal_o{
    width: 95%;
    border: 1px solid #8177F5;
}
.sel_cantidad_tokens{
    border: 1px solid rgba(92, 92, 92, 0.46);
    box-sizing: border-box;
    border-radius: 5px;
    width: 185px;
    height: 88px;
    padding-top: 14px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    flex-wrap: wrap;
}
.div_content_o{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    transition: ease-in-out 0.3s;
}
.table_head_o{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    Font-family:'Roboto', sans-serif;
    Font-style: medium;
    Font-size: 15px;
    font-weight: 900;
    line-height: 18px;
    line-height: 100%;
    fill: solid;
    color: #5C5C5C;
}
.txt_row_head_o{
    width: 18%;
    text-align: center;
}
.table_row_o{
    width: 100%;
    padding: 0px;
    margin:0px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    Font-family:'Roboto', sans-serif;
    Font-style:light;
    Font-size: 15px;
    line-height: 18px;
    line-height: 100%;
    fill: solid;
    color: #5C5C5C;
    border: 0.3px solid #5C5C5C;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top:12px;
    padding-bottom: 12px;
    margin-bottom: 15px;
    transition: ease-in-out 0.2s;
}
.table_row_o:hover{
    cursor: hand;
    border: 2px solid #8177F5;
}
.txt_row_play_o{
    width: 18%;
    margin-top:40px;
    text-align: center;
}
.img_playlist_o_2{
    height:35px;
    width: 105px;
}
.disclaimer_txt{
    font-family: Roboto;
    font-style: italic;
    font-size: 12px;
    margin-top: 40px;
    padding: 10px;
    text-align: justify;
}
.error_msg_o{
    width: 80%;
    background-color: #e41425c5;
    border: 2px solid #fd0015da;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: italic;
}
.success_msg_o{
    width: 80%;
    background-color: #8177F5;
    border: 2px solid #8277f5a1;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: italic;
}
.txt_cantidad_modal{
    width: 100%;
    text-align: center;
}
.modal_token_boton_cantidad{
    width: 10%;
    text-align: center;
    background:none;
    border: none;
}
.modal_token_input{
    width: 40%;
    text-align: center;
    border: none;
    background: none;
}
.txt_modal_izquierda{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #5C5C5C;
}
.modal_metodos_pago{
    width: 100%;
    display: flex;
}
.modal_img_pago{
    width: 233px;
    height: 71px;
    margin-top: 25px;
    float: left;
}
.modal_img_pago2{
    width: 237px;
    height: 85px;
    margin-top: 25px;
    float: left;
}
.modal_txt_mensaje{
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #5C5C5C;
}
.modal_tokens_total{
    margin-left: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #5C5C5C;
    margin-top: 20px;
    margin-bottom: 25px;
}
.div_error_o{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:30px;
}
.txt_error_o{
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    color: #C96DD8;
    margin-top:50px;
}
.favs_star_o{
    width: 16px;
    height: 16px;
}
#a_error_o{
    width: 140px;
    height: 35px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    transition: ease-in-out 0.3s;
}
#a_error_o:hover{
    width: 150px;
    text-decoration: none;
    color: #C96DD8;
    transition: ease-in-out 0.3s;
}   
.lds-spinner {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 28px;
    left: 39px;
    width: 2px;
    height: 6px;
    border-radius: 20%;
    background: #5C5C5C;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
@keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
} 
@media (max-width:1475px){
    .div_90_o{
        justify-content: space-evenly;
        transition: ease-in-out 0.3s;
    }
}
@media(max-width:1380px){
    .campana_info_3_img{
        margin-top:0px;
    }
}
@media (max-width:1150px){
    .campana_info_3_img{
        width: 200px;
        height: 200px;
    }
    .div_campana_info_o{
        padding-top: 39PX;
        padding-left: 26px;
        padding-right: 0px;
        padding-bottom:14px;
    }
    .campana_info_3_status{
        margin-right: 20px;
        transition: ease-in-out 0.3s;
    }
    .a_continuar_o{
        margin-right: 20px;
    }
}
@media (max-width:1074px){
    .div_90_o{
        width: 100%;
        justify-content: space-evenly;
        transition: ease-in-out 0.3s;
    }
}
@media (max-width:993px){
    .div_90_o{
        width: 100%;
        justify-content: space-between;
        transition: ease-in-out 0.3s;
    }
    .div_item_fav_o{
        width: 281px;/*-50px*/
        height: 218px;/*-47px*/
        margin-bottom: 30px;
        margin-left: 7.5px;
        margin-right: 7.5px;
        transition: ease-in-out 0.3s;
    }
    .div_profile_image_o{
        width: 60px;
        height: 60px;
        transition: ease-in-out 0.3s;
    }
    .heart_profile_o{
        height: 17px;
        width: 17px;
        margin-left:-20px;
        margin-top: 45px;
        transition: ease-in-out 0.3s;
    }
    .item_subtitle_o{
        font-size: 13px;
        transition: ease-in-out 0.3s;
        height:30px;
    }
    .item_title_o{
        font-size: 12px;
        transition: ease-in-out 0.3s;
        margin-top: 2px;
    }
    .item_text_o{
        font-size: 11px;
        margin-top: 1px;
        transition: ease-in-out 0.3s;
    }
    .stars_favoritos_o{
        font-size: 12px;
        margin-top: -1.8px;
        transition: ease-in-out 0.3s;
    }
}
@media (max-width:961px){
    .div_item_campana_o{
        width: 250px;
        height: 235px;
        margin-right: 2%;
    }
}
@media (max-width:935px){
    .modalContainer {
        padding-top: 0px;
    }
    .modalContainer .modal-content {
        margin-top: 100px;
        width: 700px;
        height: 463px;
    }
}
@media (max-width:920px){
    .vercampana_title_o{
        font-size: 10px;
    }
    .vercampana_txt_o{
        font-size: 12px;
    }
    .campana_estatus_renovar_o{
        font-size: 14px;
    }
    .vercampana_txt_status{
        font-size: 12px;
        margin-top:31px;
    }  
    .vercampana_a_o{
        font-size: 12px;
    }
    .lds-spinner div:after {
        top: 29px;
        left: 39px;
        width: 1.5px;
        height: 6px;
      }
}
@media (max-width:886px){
    .campana_info_1{
        width: 35%;
    }
    .campana_info_2{
        width: 35%;
    }
    .campana_info_3{
        width: 30%;
    }
    .campana_info_3_img{
        width: 150px;
        height: 150px;
    }
    .vercampana_txt_status{
        width: 100%;
        font-size: 10px;
    }
    .div_campana_info_o{
        min-height: 320px;
    }
}

@media(max-width:863px){
    .div_item_fav_o{
        width: 221px;/*-60px*/
        height: 185px;/*-30px*/
        transition: ease-in-out 0.3s;
    }
    .div_profile_image_o{
        width: 40px;
        height: 40px;
        transition: ease-in-out 0.3s;
    }
    .heart_profile_o{
        width: 13px;
        height: 13px;
        margin-left:-12px;
        margin-top: 30px;
        transition: ease-in-out 0.3s;
    }
    .item_subtitle_o{
        font-size: 12px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
        height:30px;
    }
    .vercampana_a_o{
        font-size: 12px;
    }
    .item_title_o{
        font-size: 11px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .item_text_o{
        font-size: 11px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .stars_favoritos_o{
        font-size: 11px;
        margin-top: 0px;
        transition: ease-in-out 0.3s;
    }
    .a_profile_o{
       margin-top: -4px;
        transition: ease-in-out 0.3s;
    }
}
@media(max-width:829px){
    .div_campana_info_o{
        padding:0px ;
        padding-top: 10px;
    }
    .campana_info_0{
        display: flex;
        background-color: transparent;
        width: 40%;
    }
    .campana_info_1{
        width: 55%;
        margin-top:20px;
    }
    .campana_info_2{
        width: 55%;
        float: right;
        margin-left: auto;
    }
    .campana_info_3{
        display: none;
    }
    .campana_info_3_img{
        margin-top: 32.5px;
    }
    .vercampana_title_o{
        font-size: 14px;
    }
    .vercampana_txt_o{
        font-size: 16px;
    }
    .vercampana_a_o{
        font-size: 16px;
    }
    .campana_estatus_o{
        margin-bottom: 20px;
    }
    .input_crearCampana,.select_crearCampana{
        width: 90%;
    }
    .crearCampana_botones{
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
@media (max-width:740px){
    .item_comprar_token{
        width: 180px;
        height: 320px;
    }
    .item_token_encabezado{
        height: 60px;
        margin-bottom: 5px;
        font-size: 16px;
    }
    .btn_comprar_token{
        margin-left: -10px;
    }
}
@media (max-width:792px){
    .div_campanas_actuales_o,.div_campanas_actuales_2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .div_item_campana_o{
        width: 220px;
        height: 210px;
        margin-right: 2%;
    }
    .img_item_campana_o{
        height: 75px;
        padding-top: 7px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .campanas_encabezado_cancion_o,.campanas_encabezado_artista_o{
        width: 70%;
        font-size: 12px;
    }
    .img_sp_logo_o{
        margin-left: auto;
        margin-right: 5px;
        margin-top:-55px;
    }
    .campana_text_o,.campana_title_o{
        margin-left: 10px;
        font-size: 12px;
    }
}
@media (max-width:725px){
    .modalContainer .modal-content {
        margin-top: 100px;
        width: 550px;
        height: 463px;
        background-color: aqua;
    }
}
@media (max-width:623px){
    .div_item_fav_o{
        width: 200px;/*-60px*/
        height: 181px;/*-30px*/
        transition: ease-in-out 0.3s;
    }
    .item_subtitle_o{
        height:30px;
        transition: ease-in-out 0.3s;
    }
}
@media (max-width:610px){
    .div_campanas_actuales_o,.div_campanas_actuales_2{
        justify-content: space-around;
    }
    .div_item_campana_o{
        width: 331px;
        height: 235px;
        background: #FFFFFF;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 30px;
        float: left;
        margin-right: 2%;
    }
    .img_item_campana_o{
        height: 93px;
        padding-top: 7px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .campanas_encabezado_cancion_o,.campanas_encabezado_artista_o{
        width: 60%;
        font-size: 15px;
    }
    .img_sp_logo_o{
        width: 25px;
        height: 25px;
        margin-left: auto;
        margin-top:-65px;
    }
    .campana_title_o,.campana_text_o{
        font-size: 15px;
    }
    .a_campana_o{
        font-size: 13px;
        margin-right:15px;
        transition: ease-in-out 0.3s;
    }
}
@media (max-width:600px){
    .item_token_encabezado{
        font-size: 14px;
    }
    .item_txt_black{
        font-size: 14px;
        width: 100%;
    }
    .item_txt_gray{
        font-size: 13px;
        width: 100%;
    }
    .btn_comprar_token{
        font-size: 13px;
    }
    .item_comprar_token{
        height: 250px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .btn_comprar_token{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width:581px){
    .campana_info_3_img{
        width: 100px;
        height: 100px;
    }
    .vercampana_title_o{
        font-size: 12px;
    }
    .vercampana_txt_o,.vercampana_a_o{
        font-size: 14px;
    }
    .div_90_o{
        width: 90%;
        justify-content: space-around;
        transition: ease-in-out 0.3s;
    }
    .div_item_fav_o{
        width: 250px;
        height: 215px;
        margin-left: 7.5px;
        margin-right: 7.5px;
        transition: ease-in-out 0.3s;
    }
    .div_profile_image_o{
        width: 60px;
        height: 60px;
        transition: ease-in-out 0.3s;
    }
    .heart_profile_o{
        width: 18px;
        height: 18px;
        margin-left:-18px;
        margin-top: 45px;
        transition: ease-in-out 0.3s;
    }
    .item_subtitle_o{
        font-size: 13px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
        height:30px;
    }
    .item_title_o{
        font-size: 13px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .item_text_o{
        font-size: 13px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .stars_favoritos_o{
        font-size: 15px;
        margin-top: 0px;
        transition: ease-in-out 0.3s;
    }
    .a_profile_o{
       margin-top: 0px;
       font-size: 12px;
        transition: ease-in-out 0.3s;
    }
    .a_agregar_o{
        width: 65px;
        height: 30px;
        margin-top:-3.5px;
    }
    .a_agregar_o:hover{
        text-decoration: underline;
    }
    .img_a_agregar_o{
        display:none;
    }
    .txt_a_o{
        font-size: 12px;
    }
    .crearCampana_botones{
        display: flex;
        justify-content: space-around;
    }
    .a_cancelar_o{
        margin: 0px;
    }
}
@media (max-width:565px){
    .modalContainer .modal-content {
        margin-top: 100px;
        width: 450px;
        height: 463px;
    }
}
@media (max-width:491px){
    .campanas_encabezado_cancion_o,.campanas_encabezado_artista_o{
        font-size: 13px;
    }
    .txt_error_o{
        font-size: 16px;
    }
    .a_error_o{
        width: 120px;
        height: 35px;
        font-size: 14px;
    }
    .a_error_o:hover{
        width: 130px;
    }  
}
@media(max-width:470px){
    .campana_info_0,.campana_info_1,.campana_info_2{
        width: 100%;
    }
    .campana_info_3_img{
        margin-top: 0px;
    }
    .campana_info_0{
        height: auto;
        margin-bottom: 10px;
    }
    .vercampana_title_o{
        font-size: 14px;
        margin-left: 15px;
    }
    .vercampana_txt_o,.vercampana_a_o{
        font-size: 16px;
        margin-left: 15px;
    }
    .campana_estatus_o{
        margin-bottom: 10px;
        margin-right: 5px;
    }
    .campana_info_3_status{
        margin: 0px;
    }
    .input_crearCampana,.select_crearCampana{
        margin-left: 15px;
    }
    #crearCampana_50{
        width: 100%;
    }
    .modalContainer .modal-content {
        margin-top: 100px;
        width: 300px;
        height: 463px;
    }
}
@media (max-width:438px){
    .campanas_encabezado_cancion_o,.campanas_encabezado_artista_o{
        width:80%;
    }
    .img_sp_logo_o{
        margin-top:-60px;
    }
    .campana_title_o,.campana_text_o{
        font-size: 13px;
    }
    .a_campana_o{
        font-size: 12px;
    }
    .campana_estatus_renovar_o{
        width: 80px;
        height: 26px;
        font-size: 12px;
    }
    .a_cancelar_o,.a_continuar_o{
        font-size: 14px;
        min-width: 75;
        height: 30px;
    }
    .crearCampana_pasos{
        font-size: 12px;
    }
}
@media (max-width:430px){
    .item_comprar_token{
        height: 270px;
    }
}
@media (max-width:410px){
    .item_comprar_token{
        height: 290px;
    }
}
@media (max-width:400px){
    .item_comprar_token{
        height: 305px;
    }
    .item_comprar_token{
        width: 100%;
    }
}
@media (max-width:385px){
    .div_90_o{
        width: 100%;
        transition: ease-in-out 0.3s;
    }
    .div_item_fav_o{
        width: 100%;
        height: 225x;
        margin-left: 0px;
        margin-right: 0px;
        transition: ease-in-out 0.3s;
    }
    .div_profile_image_o{
        width: 55px;
        height: 55px;
        transition: ease-in-out 0.3s;
    }
    .heart_profile_o{
        width: 16px;
        height: 16px;
        margin-left:-18px;
        margin-top: 40px;
        transition: ease-in-out 0.3s;
    }
    .item_subtitle_o{
        font-size: 12px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
        height:30px;
    }
    .item_title_o{
        font-size: 12px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .item_text_o{
        font-size: 12px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .stars_favoritos_o{
        font-size: 13px;
        margin-top: 0px;
        transition: ease-in-out 0.3s;
    }
    .a_profile_o{
       margin-top: 0px;
       font-size: 12px;
        transition: ease-in-out 0.3s;
    }    
    .div_item_campana_o{
        width: 100%;
    }
}
@media (max-width:360px){
    .btn_comprar_token{
        margin-left: -10px;
    }
}
@media (max-width:354px){
    .vercampana_title_o{
        font-size: 12px;
    }
    .vercampana_txt_o,.vercampana_a_o{
        font-size: 14px;
    }
}