.div_90_o{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: ease-in-out 0.3s;
}
.ico_title_o{
    width: 100%;
    display: flex;
}
.ico_title60_o{
    width: 60%;
    display: flex;
    transition: ease-in-out 0.3s;
}
.img_ico_title_o{
    width: 18px;
    height: 18px;
    transition: ease-in-out 0.3s;
}
.a_agregar_o{
    background: #F2F1FF;
    border: 1px solid #8177F5;
    box-sizing: border-box;
    border-radius: 20px;
    width: 125px;
    height: 36px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: ease-in-out 0.3s;
    margin-top:-6px;
}
.img_a_agregar_o{
    width: 12px;
    height: 12px;
    transition: ease-in-out 0.3s;
}
.txt_a_o{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #8177F5;
    transition: ease-in-out 0.3s;
}
.a_agregar_o:hover{
    transition: ease-in-out 0.2s;
    text-decoration: none;
    width: 135px;
}
.p_title_o{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #5A5A5A;
}
.hr_100_o{
    width: 100%;
    height: 0px;
    border: 0.5px solid #D0D0D0 !important;
}
.div_item_fav_o{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 331px;
    height: 265px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    transition: ease-in-out 0.3s;
}
.div_profile_image_o{
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    transition: ease-in-out 0.3s;
}
.img_circle_o{
    width: 100%;
    height: 100%;
    margin-top:3px;
    clip-path: circle(45% at 50% 50%);
    transition: ease-in-out 0.3s;
}
.heart_profile_o{
    color: #8177F5;
    font-size: 20px;
    margin-left:-25px;
    margin-top: 70px;
    position: absolute;
    transition: ease-in-out 0.3s;
}
.item_subtitle_o{
    font-family: 'Roboto', sans-serif;
    font-style: Normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    color: #5C5C5C;
    text-align: center;
    transition: ease-in-out 0.3s;
    height:30px;
}
.item_title_o,.campana_title_o{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    color: #5C5C5C;
    margin-top: 5px;
    transition: ease-in-out 0.3s;
}
.campana_title_o,.campana_text_o{
    width: 100%;
    margin-left: 20px;
}
.item_text_o,.campana_text_o{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #595959;
    margin-top: 3px;
    transition: ease-in-out 0.3s;
}
.stars_favoritos_o{
    color:#8177F5;
    font-size: 16px;
    margin-top: -2.5px;
    transition: ease-in-out 0.3s;
}
.display_flex_o{
    display: flex;
}
.a_campana_o{
    float: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8177F5;
    margin-right:22px ;
    margin-top:-5px;
    transition: ease-in-out 0.3s;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.a_profile_o{
    font-family: Roboto;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8177F5;
    margin-left: auto;
    transition: ease-in-out 0.3s;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.a_profile_o:hover,.a_campana_o:hover{
    text-decoration: none;
    transition: ease-in-out 0.3s;
    background-size: 100% 2px;
}
.div_width100_right{
    text-align: right;
    display: flex;
    width: 100%;
    align-content: center;
    text-justify: right;
}
.div_campanas_actuales_o{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
}
.div_item_campana_o{
    width: 310px;
    height: 235px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 30px;
    float: left;
    margin-right: 1%;
}
.img_item_campana_o{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 93px;
    border-radius: 5px;
    background-color:gray;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
}
.campanas_encabezado_cancion_o{
    width: 60%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.campanas_encabezado_artista_o{
    width: 60%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.img_sp_logo_o{
    display: flex;
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-top:-65px;
}
.div_campana_info_o{
    width: 100%;
    height: 369px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 10px;
}
.campana_info_0{
    width: 100%;
    height: 200px;
    background-color: gray;
    transition: ease-in-out 0.3s;
    border-radius: 5px;
}
@media (max-width:1475px){
    .div_90_o{
        justify-content: space-evenly;
        transition: ease-in-out 0.3s;
    }
}

@media (max-width:1074px){
    .div_90_o{
        width: 100%;
        justify-content: space-evenly;
        transition: ease-in-out 0.3s;
    }
}
@media (max-width:993px){
    .div_90_o{
        width: 100%;
        justify-content: space-between;
        transition: ease-in-out 0.3s;
    }
    .div_item_fav_o{
        width: 281px;/*-50px*/
        height: 218px;/*-47px*/
        margin-bottom: 30px;
        margin-left: 7.5px;
        margin-right: 7.5px;
        transition: ease-in-out 0.3s;
    }
    .div_profile_image_o{
        width: 60px;
        height: 60px;
        transition: ease-in-out 0.3s;
    }
    .heart_profile_o{
        font-size: 17px;
        margin-left:-20px;
        margin-top: 45px;
        transition: ease-in-out 0.3s;
    }
    .item_subtitle_o{
        font-size: 13px;
        transition: ease-in-out 0.3s;
        height:30px;
    }
    .item_title_o{
        font-size: 12px;
        transition: ease-in-out 0.3s;
        margin-top: 2px;
    }
    .item_text_o{
        font-size: 11px;
        margin-top: 1px;
        transition: ease-in-out 0.3s;
    }
    .stars_favoritos_o{
        font-size: 12px;
        margin-top: -1.8px;
        transition: ease-in-out 0.3s;
    }
}
@media (max-width:961px){
    .div_item_campana_o{
        width: 250px;
        height: 235px;
        margin-right: 2%;
    }
}

@media(max-width:863px){
    .div_item_fav_o{
        width: 221px;/*-60px*/
        height: 185px;/*-30px*/
        transition: ease-in-out 0.3s;
    }
    .div_profile_image_o{
        width: 40px;
        height: 40px;
        transition: ease-in-out 0.3s;
    }
    .heart_profile_o{
        font-size: 13px;
        margin-left:-12px;
        margin-top: 30px;
        transition: ease-in-out 0.3s;
    }
    .item_subtitle_o{
        font-size: 12px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
        height:30px;
    }
    .item_title_o{
        font-size: 11px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .item_text_o{
        font-size: 11px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .stars_favoritos_o{
        font-size: 11px;
        margin-top: 0px;
        transition: ease-in-out 0.3s;
    }
    .a_profile_o{
       margin-top: -4px;
        transition: ease-in-out 0.3s;
    }
}
@media (max-width:792px){
    .div_campanas_actuales_o{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .div_item_campana_o{
        width: 220px;
        height: 210px;
        margin-right: 2%;
    }
    .img_item_campana_o{
        height: 75px;
        padding-top: 7px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .campanas_encabezado_cancion_o,.campanas_encabezado_artista_o{
        width: 70%;
        font-size: 12px;
    }
    .img_sp_logo_o{
        margin-left: auto;
        margin-right: 5px;
        margin-top:-55px;
    }
    .campana_text_o,.campana_title_o{
        margin-left: 10px;
        font-size: 12px;
    }
}
@media (max-width:623px){
    .div_item_fav_o{
        width: 200px;/*-60px*/
        height: 181px;/*-30px*/
        transition: ease-in-out 0.3s;
    }
    .item_subtitle_o{
        height:30px;
        transition: ease-in-out 0.3s;
    }
}
@media (max-width:610px){
    .div_campanas_actuales_o{
        justify-content: space-around;
    }
    .div_item_campana_o{
        width: 331px;
        height: 235px;
        background: #FFFFFF;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 30px;
        float: left;
        margin-right: 2%;
    }
    .img_item_campana_o{
        height: 93px;
        padding-top: 7px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .campanas_encabezado_cancion_o,.campanas_encabezado_artista_o{
        width: 60%;
        font-size: 15px;
    }
    .img_sp_logo_o{
        width: 25px;
        height: 25px;
        margin-left: auto;
        margin-top:-65px;
    }
    .campana_title_o,.campana_text_o{
        font-size: 15px;
    }
    .a_campana_o{
        font-size: 13px;
        margin-right:15px;
        transition: ease-in-out 0.3s;
    }
}
@media (max-width:581px){
    .div_90_o{
        width: 90%;
        justify-content: space-around;
        transition: ease-in-out 0.3s;
    }
    .div_item_fav_o{
        width: 250px;
        height: 215px;
        margin-left: 7.5px;
        margin-right: 7.5px;
        transition: ease-in-out 0.3s;
    }
    .div_profile_image_o{
        width: 60px;
        height: 60px;
        transition: ease-in-out 0.3s;
    }
    .heart_profile_o{
        font-size: 18px;
        margin-left:-18px;
        margin-top: 45px;
        transition: ease-in-out 0.3s;
    }
    .item_subtitle_o{
        font-size: 13px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
        height:30px;
    }
    .item_title_o{
        font-size: 13px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .item_text_o{
        font-size: 13px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .stars_favoritos_o{
        font-size: 15px;
        margin-top: 0px;
        transition: ease-in-out 0.3s;
    }
    .a_profile_o{
       margin-top: 0px;
       font-size: 12px;
        transition: ease-in-out 0.3s;
    }
    .a_agregar_o{
        width: 65px;
        height: 30px;
        margin-top:-3.5px;
    }
    .a_agregar_o:hover{
        transition: ease-in-out 0.2s;
        width: 70px;
    }
    .img_a_agregar_o{
        display:none;
    }
    .txt_a_o{
        font-size: 12px;
    }    
}
@media (max-width:491px){
    .campanas_encabezado_cancion_o,.campanas_encabezado_artista_o{
        font-size: 13px;
    }
}
@media (max-width:438px){
    .campanas_encabezado_cancion_o,.campanas_encabezado_artista_o{
        width:80%;
    }
    .img_sp_logo_o{
        margin-top:-60px;
    }
    .campana_title_o,.campana_text_o{
        font-size: 13px;
    }
    .a_campana_o{
        font-size: 12px;
    }
}
@media (max-width:385px){
    .div_90_o{
        width: 100%;
        transition: ease-in-out 0.3s;
    }
    .div_item_fav_o{
        width: 100%;
        height: 225x;
        margin-left: 0px;
        margin-right: 0px;
        transition: ease-in-out 0.3s;
    }
    .div_profile_image_o{
        width: 55px;
        height: 55px;
        transition: ease-in-out 0.3s;
    }
    .heart_profile_o{
        font-size: 16px;
        margin-left:-18px;
        margin-top: 40px;
        transition: ease-in-out 0.3s;
    }
    .item_subtitle_o{
        font-size: 12px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
        height:30px;
    }
    .item_title_o{
        font-size: 12px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .item_text_o{
        font-size: 12px;
        transition: ease-in-out 0.3s;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .stars_favoritos_o{
        font-size: 13px;
        margin-top: 0px;
        transition: ease-in-out 0.3s;
    }
    .a_profile_o{
       margin-top: 0px;
       font-size: 12px;
        transition: ease-in-out 0.3s;
    }    
    .div_item_campana_o{
        width: 100%;
    }
}