.review_calificacion{
    box-sizing: border-box;

    width: fit-content;
 
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    transition: ease-in-out 0.3s;

    float: right;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.review_calificacion .review_calificacion_item{
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
}

.review_calificacion .review_calificacion_item a{
    color: #8177F5 !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-right: 80px;
    background-color: transparent;
    text-decoration: none;
    border: none;
}

.review_calificacion .review_calificacion_item a:hover{
    color: #8177F5;
    text-decoration: underline;
}

.review_calificacion .review_calificacion_item_margin{
    margin-left: 23px;
}

.review_calificacion .review_calificacion_item .img_review{
    width: 19px;
    height: auto;
    /* height: 19px; */
    margin-right: 5px;

    transition: ease-in-out 0.3s;
}

.review_calificacion .review_calificacion_item .p_review{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 21px;
    color: #5A5A5A;

    transition: ease-in-out 0.3s;

    text-decoration: none;
}

.review_calificacion .review_calificacion_item .p_review_bold{
    font-weight: bold;
}

/*--------- lista de reviews ---------*/

.reviews_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
}

.reviews_list .review_item{
    width: 100%;
    max-width: 1056px;
    min-height: 151px;

    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    margin-bottom: 10px;
    float: left;
    margin-right: 1%;

    display: table;
}

.reviews_list .review_item .review_img{
    display: table-cell;

    width: 83px;

}

.reviews_list .review_item .review_img img{
    width: 59px;
    height: 59px;
    margin-left: 18px;
    margin-right: 6px;
    margin-top: 16px;
}

.reviews_list .review_item .review_content{
    display: table-cell;
    vertical-align: top;
}

.reviews_list .review_item .r_p{
    margin-left: 42px;
}

.reviews_list .review_item .review_content .review_content_names{
    width: 100%;
    display: table;
}

.reviews_list .review_item .review_content .review_content_names .review_content_names_name{
    padding-top: 16px;

    display: table-cell;
    
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.reviews_list .review_item .review_content .review_content_names .review_content_names_name a{
    color: #858796;
    align-self: center;
}

.reviews_list .review_item .review_content .review_content_names .review_content_names_name .m_r{
    width: fit-content;
    margin-left: auto;
    float: right;
    font-weight: 300;

    margin-right: 39px;
}

.reviews_list .review_item .review_content .review_content_names .review_content_names_name .m_r b{
    font-style: normal;
    font-weight: bold;
}

.reviews_list .review_item .review_content .review_content_sd{
    width: 100%;
    display: flex;
    justify-content: left;
}

.reviews_list .review_item .review_content .review_content_score,
.reviews_list .review_item .review_content .review_content_date
{
    width: fit-content;
    line-height: 17px;

    margin-top: 8px;
}

.reviews_list .review_item .review_content .review_content_date{
    margin-left: 18px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 23px;

    color: #5C5C5C;

}

.reviews_list .review_item .review_content .review_content_date a{
    color: #5C5C5C;
}

.reviews_list .review_item .review_content .review_content_score img{
    width: 17px;
    height: 17px;
}

.reviews_list .review_item .review_content .review_content_review{
    margin-top: 15px;
    margin-right: 42px;
    margin-bottom: 16px;
    word-wrap: break-word;
    max-width:930px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    text-align: justify;
    
    color: #5C5C5C;
}

.reviews_list .review_item .review_content .review_content_review textarea{
    height:auto;
    width:100%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    text-align: justify;
    
    color: #5C5C5C;
    border-bottom: solid 1px #c7c7c7;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius:3px;
    line-height:2em;
    padding:3px;
    -webkit-transition: height 0.1s ease;
    -moz-transition: height 0.1s ease;
    -ms-transition: height 0.1s ease;
    -o-transition: height 0.1s ease;
    transition: height 0.1s ease;
}

.reviews_list .review_item .review_content .review_content_review textarea:focus{
    border-bottom: solid 1px #8177F5;
    transition: ease-in 1s;
}

.reviews_list .review_item .review_content .review_content_review textarea:hover{
    border-bottom: solid 1px #8177F5;
    transition: ease-in 1s;
}

.btnLeerMas{
    color:  #8177F5;
}
.btnLeerMas:hover{
    color:  #8177F5;
}

.reviews_list .review_item .review_content .review_content_realizar_r_div{
    transition: ease-in-out 0.3s;
    width: fit-content;
    margin-left: auto;
    margin-right: 39px;
    float: right;
}

.reviews_list .review_item .review_content .form_rea_r a{
    background: #8177F5;
    border: 1px solid #8177F5; 
    box-sizing: border-box;
    border-radius: 20px;

    color: #FFFFFF !important;

    padding-left: 58.5px !important;
    padding-right: 58.5px !important;

    
}

.reviews_list .review_item .review_content .review_content_realizar_r_div .review_content_realizar_r{
    border: solid 1px  #8177F5;
    box-sizing: border-box;
    border-radius: 25px;
    text-align: right;
    background-color:#f2f1ff;
    width: fit-content;
    margin-bottom: 27px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    color: #8177F5;

    text-decoration: none;

    padding-left: 29px;
    padding-right: 29px;
    padding-top: 9px;
    padding-bottom: 9px;

    cursor: pointer;

    transition: ease-in-out 0.3s;
}

.reviews_list .review_item .review_content .review_content_realizar_r_div .review_content_realizar_r:hover{
    transition: ease-in-out 0.2s;
    text-decoration: underline;
    color: #8177F5;
}

.reviews_list .review_item .review_content .form_rea_r a:hover{
    transition: ease-in-out 0.2s;
}

.reviews_list .review_item .review_content .review_content_artista{
    word-wrap: break-word;
    width: 100%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #5C5C5C;

    margin-top: 15px;
}

.reviews_list .review_item .review_content .review_content_artista b{
    width: 100%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #5C5C5C;

    margin-top: 15px;
}

.reviews_list .review_item .review_content .review_content_artista a{
    color: #5C5C5C;
}

.reviews_list .review_item .review_content .review_content_buttons_ar{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    color: #5C5C5C;

    margin-top: 14px;
}

.reviews_list .review_item .review_content .review_content_buttons_ar label{
    margin-right: 36px;
}

.s_m{
    margin-left: 18px !important;
}

.m_f{
    margin-left: 0px !important;
}

.d_m{
    margin-left: 0px !important;
}
.msjErro-r1, .msjErro-r2 {
    display: none;
    font-size: 14px;
    color: #8177F5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    transition: all 0.2s;
    /* padding-left:4.3%; */
}

/*-------------------------------------- SISTEMA DE ESTRELLAS --------------------------------------*/
    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
    /* make hover effect work properly in IE */
    /* hide radio inputs */
    /* set icon padding and size */
    /* add padding and positioning to half star labels */
    /* set default star color */
    /* set color of none icon when unchecked */
    /* if none icon is checked, make it red */
    /* if any input is checked, make its following siblings grey */
    /* make all stars orange on rating group hover */
    /* make hovered input's following siblings grey on hover */
    /* make none icon grey on rating group hover */
    /* make none icon red on hover */

  #half-stars-example {
    margin-top: 8px;
  }
  #half-stars-example .rating-group {
    display: inline-flex;
  }
  #half-stars-example .rating__icon {
    pointer-events: none;
  }
  #half-stars-example .rating__input {
    position: absolute !important;
    left: -9999px !important;
  }
  #half-stars-example .rating__label {
    cursor: pointer;
    /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
    padding: 0 0.4em;
  }
  #half-stars-example .rating__label--half{
    padding-right: 0;
    margin-right: -1.5em;
    z-index: 2;
  }

  .review_content_score .rating__label--half{
    padding-right: 0;
    margin-right: -1.4em;
    position: relative;
    z-index: 2;
  }

  .review_content_score label{
      margin-bottom: 0;
  }
  
  #half-stars-example .rating__icon--star,
  .review_content_score .rating__icon--star{
    color: #858796;
  }
  #half-stars-example .rating__icon--none,
  .review_content_score .rating__icon--none{
    color: #eee;
  }
  #half-stars-example .rating__input--none:checked + .rating__label .rating__icon--none,
  .review_content_score .rating__input--none:checked + .rating__label .rating__icon--none{
    color: red;
  }
  #half-stars-example .rating__input:checked ~ .rating__label .rating__icon--star,
  .review_content_score .rating__label .rating__icon--none{
    color: #ddd;
  }
  #half-stars-example .rating-group:hover .rating__label .rating__icon--star,
  #half-stars-example .rating-group:hover .rating__label--half .rating__icon--star
  .review_content_score .rating__label--half .rating__icon--star{
    color: #858796;
  }
  #half-stars-example .rating__input:hover ~ .rating__label .rating__icon--star,
  #half-stars-example .rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
  }
  #half-stars-example .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee;
  }
  #half-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }

.modal_compartir{
    width: 100%;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 50px;
}

.modal_compartir img{
    width: 164px;
    height: auto;

    border: 4px solid #CACACA;
    box-sizing: border-box;
    border-radius: 5px;
}

.modal_compartir img:hover{
    border: 4px solid #8177F5;
    box-sizing: border-box;
    border-radius: 5px;

    cursor: pointer;
}

.modal_compartir .modal_compartir_facebook{
    margin-right: 47px;
}

@media(max-width: 850px){
    .reviews_list .review_item .review_content .review_content_sd{
        display: inline;
    }
    .r_p{
        margin-left: 21px !important;
    }
    .reviews_list .review_item .review_content .review_content_score {
        margin-left: 21px;
    }
    .reviews_list .review_item .review_content .review_content_realizar_r_div {
        margin-top: 17px;
        margin-bottom: 17px;
    }
    .s_m{
        margin-left: 0px !important;
    }
    .reviews_list .review_item .review_content .review_content_names .review_content_names_name .m_r{
        float: left;
        margin-left: 21px;
        margin-right: auto;
        padding-top: 8px;
    }
    .reviews_list .review_item .review_content .review_content_artista{
        max-width: 600px;
    }
}

@media(max-width: 600px){
    .msjErro-r1, .msjErro-r2 {
        font-size: 13px;
    }
    .reviews_list .review_item .review_content .review_content_realizar_r_div .review_content_realizar_r{
        font-size: 14px;
    }
    .reviews_list .review_item .review_content .review_content_review textarea{
        font-size: 14px;
    }

    .reviews_list .review_item .review_content .review_content_names .review_content_names_name{
        font-size: 14px;
    }
    
    .reviews_list .review_item .review_content .review_content_names .review_content_names_name{
        display: table-row;
    }

    /* .reviews_list .review_item .review_content .review_content_names .review_content_names_name .m_r{
        margin-left: 21px;
        margin-right: auto;
        padding-top: 8px;
    } */

    .reviews_list .review_item .review_img{
        display: table-row;
        width: 100%;
        text-align: center;
    }

    .reviews_list .review_item .review_content{
        display: table-row;
        vertical-align: top;
    }

    .reviews_list .review_item .review_img img{
        margin: auto;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .reviews_list .review_item .review_content .review_content_review,
    .review_content_artista,
    .review_content_buttons_ar{
        margin-top: 15px;
        margin-left: 21px;
        margin-right: 21px;
        margin-bottom: 16px;
    }

    .reviews_list .review_item .review_content .review_content_score,
    .reviews_list .review_item .review_content .review_content_date,
    .s_m
    {
        margin-left: 21px !important;
    }
    .autor{
        text-align: center;
    }
    .d_m{
        margin-left: 10px !important;
    }
    .reviews_list .review_item .review_content .review_content_artista{
        max-width: 300px;
    }
}

@media(max-width: 350px){
    .reviews_list .review_item .review_content .review_content_artista{
        max-width: 200px;
    } 
}

/* -------------------RESPONSIVE------------------- */
@media(max-width: 650px){
    /* AQUI */
    .review_calificacion .review_calificacion_item a{
        margin-right: 20px;
    }
}

@media(max-width: 630px){
    .review_calificacion .review_calificacion_item a{
        font-size: 16px;
    }
    .review_calificacion .review_calificacion_item .p_review{
        font-size: 16px;
    }
}

@media(max-width:590px){
    .review_calificacion{
        width: 100%;
    }
    .reviews-cabecera{
        flex-wrap: wrap;
    }
}

@media(max-width:440px){
    .review_calificacion .review_calificacion_item a{
        font-size: 14px;
    }
    .review_calificacion .review_calificacion_item .p_review{
        font-size: 14px;
    }
}

@media(max-width:400px){
    .review_calificacion{
        flex-wrap: wrap;
    }
}

@media(max-width: 475px){

    .review_calificacion .review_calificacion_item_margin{
        margin-left: 0px;
    }
    
    .ico_title60_o{
        width: 100%;
    }
    .reviews_list .review_item .review_content .review_content_realizar_r_div{
        display: flex;
        justify-content: center;
    }
    .reviews_list .review_item .review_content .review_content_review textarea{
        font-size: 14px;
        line-height: 16px;
    }
    .reviews_list .review_item .review_content .review_content_realizar_r_div .review_content_realizar_r{
        text-align: center;
    }
}

@media(max-width:420px){
    .reviews_list .review_item .review_content .review_content_realizar_r_div .review_content_realizar_r{
           
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media(max-width: 360px){
    .reviews_list .review_item .review_content .review_content_review{
        font-size: 12px;
        line-height: 14px;
    }
    .reviews_list .review_item .review_content .review_content_names .review_content_names_name{        
        font-size: 14px;
        line-height: 16px;
    }
}